################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/JASCI-Game.slnx/FileContentIndex/11eddd3b-5641-4ace-9a82-54acf45fe308.vsidx
/.vs/JASCI-Game.slnx/FileContentIndex/17f1a02a-b9ae-40cc-b805-833bfa4019cf.vsidx
/.vs/JASCI-Game.slnx/FileContentIndex/1a80f378-e8eb-43ad-b27f-fbcdd6207992.vsidx
/.vs/JASCI-Game.slnx/FileContentIndex/2450fc2a-8b0c-4e02-a44f-a26ec731ba59.vsidx
/.vs/JASCI-Game.slnx/FileContentIndex/332b3a77-7065-4096-b228-2c8e33adadc0.vsidx
/.vs/JASCI-Game.slnx/FileContentIndex/40546956-0fd7-4b15-944c-e92fb2c26725.vsidx
/.vs/JASCI-Game.slnx/FileContentIndex/5ecb86f6-c2f5-49ab-aa9a-ba7fc51da80f.vsidx
/.vs/JASCI-Game.slnx/FileContentIndex/74f8cf3a-8c71-4050-93cd-02a01066cdd1.vsidx
/.vs/JASCI-Game.slnx/FileContentIndex/a9b723ff-3980-4699-b6cb-7c74d62dd389.vsidx
/.vs/JASCI-Game.slnx/FileContentIndex/ce4edf5b-833b-4143-9a40-01daacd9af84.vsidx
/.vs/slnx.sqlite
node_modules/
/.vs/JASCI-Game.slnx/FileContentIndex/06dfa918-4866-46b7-b5f2-28c23de61bd6.vsidx
/.vs/JASCI-Game.slnx/FileContentIndex/26839367-2676-4e4c-9acf-099cb00567bb.vsidx
/.vs/JASCI-Game.slnx/FileContentIndex/44727cfc-e9da-4085-8ce9-c86c1c8cae12.vsidx
/.vs/JASCI-Game.slnx/FileContentIndex/4503d687-4f1c-405a-b26b-f6ee4fe1b1f1.vsidx
/.vs/JASCI-Game.slnx/FileContentIndex/51f708c8-f341-413c-9678-c67550fe99d7.vsidx
/.vs/JASCI-Game.slnx/FileContentIndex/83ec53e8-d852-4fe9-91a4-dcc111ccd21a.vsidx
/.vs/JASCI-Game.slnx/FileContentIndex/9d2d9d97-cb6d-4bc9-b9cb-d13ab76e038f.vsidx
/.vs/JASCI-Game.slnx/FileContentIndex/c0191603-c9d4-484e-964a-a412cc44e881.vsidx
/.vs/JASCI-Game.slnx/FileContentIndex/d659d235-28ff-404c-9a82-c5c7c8a25149.vsidx
/.vs/JASCI-Game.slnx/FileContentIndex/e9c9361a-645b-446f-9a91-01fba605d5de.vsidx
*.log
